@import "tailwindcss";

body {
  margin: 0;
  font-family:
    "Cascadia Code", "JetBrains Mono", "SFMono-Regular", Consolas, ui-monospace,
    monospace;
  background: #050505;
}

::selection {
  background: #00ff57;
  color: #000;
}
